sil-web/App_WebReferences/wsServicios/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:43933/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:43933/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getEstados_InputMessage">
    <wsdl:part name="parameters" element="tns:getEstados" />
  </wsdl:message>
  <wsdl:message name="IService1_getEstados_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEstadosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearEstado" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditarEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarEstado" />
  </wsdl:message>
  <wsdl:message name="IService1_EditarEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEstado" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getRegistros_InputMessage">
    <wsdl:part name="parameters" element="tns:getRegistros" />
  </wsdl:message>
  <wsdl:message name="IService1_getRegistros_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRegistrosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getSistemas_InputMessage">
    <wsdl:part name="parameters" element="tns:getSistemas" />
  </wsdl:message>
  <wsdl:message name="IService1_getSistemas_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSistemasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAcciones_InputMessage">
    <wsdl:part name="parameters" element="tns:getAcciones" />
  </wsdl:message>
  <wsdl:message name="IService1_getAcciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAccionesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getUnidades_InputMessage">
    <wsdl:part name="parameters" element="tns:getUnidades" />
  </wsdl:message>
  <wsdl:message name="IService1_getUnidades_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUnidadesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getEstados">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getEstados" message="tns:IService1_getEstados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getEstadosResponse" message="tns:IService1_getEstados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrearEstado" message="tns:IService1_CrearEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrearEstadoResponse" message="tns:IService1_CrearEstado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditarEstado" message="tns:IService1_EditarEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditarEstadoResponse" message="tns:IService1_EditarEstado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarEstado" message="tns:IService1_EliminarEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarEstadoResponse" message="tns:IService1_EliminarEstado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRegistros">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getRegistros" message="tns:IService1_getRegistros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getRegistrosResponse" message="tns:IService1_getRegistros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSistemas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getSistemas" message="tns:IService1_getSistemas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getSistemasResponse" message="tns:IService1_getSistemas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAcciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAcciones" message="tns:IService1_getAcciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAccionesResponse" message="tns:IService1_getAcciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUnidades">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUnidades" message="tns:IService1_getUnidades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUnidadesResponse" message="tns:IService1_getUnidades_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEstados">
      <soap:operation soapAction="http://tempuri.org/IService1/getEstados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearEstado">
      <soap:operation soapAction="http://tempuri.org/IService1/CrearEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarEstado">
      <soap:operation soapAction="http://tempuri.org/IService1/EditarEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEstado">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRegistros">
      <soap:operation soapAction="http://tempuri.org/IService1/getRegistros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSistemas">
      <soap:operation soapAction="http://tempuri.org/IService1/getSistemas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAcciones">
      <soap:operation soapAction="http://tempuri.org/IService1/getAcciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnidades">
      <soap:operation soapAction="http://tempuri.org/IService1/getUnidades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:43933/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>